@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Averia Serif Libre', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #222;
}

header {
    padding: 1.2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: #111;
    box-sizing: border-box;
    z-index: 99;
}

header .navbar {
    display: flex;
    height: 100%;
    flex-basis: 1350px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar .logo {
    margin-left: 2rem;
}

.navbar .logo a {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.logo a span {
    color: orange;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2rem;
}

ul li a {
    padding: 0.4rem 0.8rem;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

ul li a.active {
    color: orangered;
    background: #fff;
    border-radius: 0.1rem;
}

ul li a:hover {
    color: orangered;
}

section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

section h1 {
    color: #fff;
    font-size: 10rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.2rem;
}

hr {
    width: 300px;
    height: 0.2rem;
    border: none;
    background: #555;
    margin: 0 auto;
}

footer {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #111;
}

footer p {
    color: #fff;
    font-size: 1.2rem;
}

footer p a {
    color: orangered;
    text-decoration: none;
}